body{
	background: #34495e;
}

.button{
	border: 1px solid #33ffB4;
	background: none;
	padding: 10px 20px;
	margin: 20px auto;
	font-size: 20px;
	font-family: "montserrat";
	cursor: pointer;
	margin: 10px;
	transition: 0.8s;
	position: relative;
	overflow: hidden;
}

.botn{
	color: #33ffB4;
}

.botn:hover{
	color: #fff
}

.button::before{
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 0%;
	background: #33ffB4;
	z-index: -1;
	transition: 0.8s;
}

.botn::before{
	bottom: 0;
	border-radius:50% 50% 0 0;
}

.botn:hover::before{
	height: 180%
}

.card{
	margin: auto;
	margin-bottom: 20px;
	background: #33ffB4;
	border: 2px solid #33ffB4;
}

.iner{
	overflow: hidden;
}

.iner img{
	transition: all 1.5s ease;
}

.iner:hover img{
	transform: scale(1.5);
}

.fon p,.fon a,.fon h6{
	color: yellow;
}

.carousel-item{
	height: 100vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	background-size: cover;
}

.carousel-caption{
	bottom: 220px;
}

.carousel-caption h5{
	font-size: 65px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
	font-family: "Merienda", Georgia, sans-serif;
	color: green;
}

.carousel-caption p{
	width: 60%;
	margin: auto;
	font-size: 24px;
	line-height: 1.9;
	font-family: 'Muli', sans-serif;
	color: yellow;
}

.tit{
	font-size: 38px;
	margin-bottom: 20px;
	font-family: "Merienda", Georgia, sans-serif;
	color: yellow;
	padding-bottom: 45px;
}

.container-products{
	padding-bottom: 95px;
}

.service-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	justify-content: center;
	align-items: center;
}

.service-box{
	position: relative;
	width: 300px;
	padding: 40px;
	/*background: #fff*/
	margin: 20px;
	box-sizing: border-box;
	overflow: hidden;
	text-align: center;
}

.service-container .icon{
	position: relative;
	width: 80px;
	height: 80px;
	color: #fff;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	border-radius: 50%;
	font-size: 40px;
	font-weight: 700;
	transition: 1s;
}

.service-container .service-box:nth-child(1) .icon
{
	box-shadow: 0 0 0 0 #e91e63;
	background: #e91e63;
}

.service-container .service-box:nth-child(1):hover .icon
{
	box-shadow: 0 0 0 400px #e91e63;
}

.service-container .service-box:nth-child(2) .icon
{
	box-shadow: 0 0 0 0 #23e629;
	background: #23e629;
}

.service-container .service-box:nth-child(2):hover .icon
{
	box-shadow: 0 0 0 400px #23e629;
}

.service-container .service-box:nth-child(3) .icon
{
	box-shadow: 0 0 0 0 #2196f3;
	background: #2196f3;
}

.service-container .service-box:nth-child(3):hover .icon
{
	box-shadow: 0 0 0 400px #2196f3;
}

.service-container .service-box .service-content{
	position: relative;
	z-index: 1;
	transition: 0.5s;
}

.service-container .service-box .service-content p{
	margin: 0;
	padding: 0;
}