body{
	background: #34495e;
}

.button{
	border: 1px solid #33ffB4;
	background: none;
	padding: 10px 20px;
	margin: 20px auto;
	font-size: 20px;
	font-family: "montserrat";
	cursor: pointer;
	margin: 10px;
	transition: 0.8s;
	position: relative;
	overflow: hidden;
}

.botn{
	color: #33ffB4;
}

.botn:hover{
	color: #fff
}

.button::before{
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 0%;
	background: #33ffB4;
	z-index: -1;
	transition: 0.8s;
}

.botn::before{
	bottom: 0;
	border-radius:50% 50% 0 0;
}

.botn:hover::before{
	height: 180%
}

.card{
	margin: auto;
	margin-bottom: 20px;
	background: #33ffB4;
	border: 2px solid #33ffB4;
}

.iner{
	overflow: hidden;
}

.iner img{
	transition: all 1.5s ease;
}

.iner:hover img{
	transform: scale(1.5);
}

.fon p,.fon a,.fon h6{
	color: yellow;
}

.carousel-item{
	height: 100vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	background-size: cover;
}

.carousel-caption{
	bottom: 220px;
}

.carousel-caption h5{
	font-size: 65px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
	font-family: "Merienda", Georgia, sans-serif;
	color: green;
}

.carousel-caption p{
	width: 60%;
	margin: auto;
	font-size: 24px;
	line-height: 1.9;
	font-family: 'Muli', sans-serif;
	color: yellow;
}

.tit{
	font-size: 38px;
	margin-bottom: 20px;
	font-family: "Merienda", Georgia, sans-serif;
	color: yellow;

}