{% extends 'base.html' %}
{% load static %}

{% block title %}Cart{% endblock %}


{% block content %}

	<h1>Cart</h1>
	{{cart}}
	<a href="{% url 'woodapp:clearcart' %}">Clear All</a>
	<div class="container">
	<div class="table-responsive-sm">
	<table id="refresh-cart" class="table table-bordered table-striped">
		<tr>
			<th>S.N.</th>
			<th>Product</th>
			<th>Rate</th>
			<th>Quantiity</th>
			<th>Subtotal</th>
		</tr>
		{% for cartproduct in cart.cartproduct_set.all %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td>{{cartproduct.product}}</td>
			<td>{{cartproduct.rate}}</td>
			<td><a href="{% url 'woodapp:managecart' cartproduct.id 'decrease' %}"
				 class="manage-cart btn btn-warning">-</a>
				 {{cartproduct.quantity}}
				 <a href="{% url 'woodapp:managecart' cartproduct.id 'increase' %}"
				 class="manage-cart btn btn-warning">+</a></td>
			<td>{{cartproduct.subtotal}}
				<a href="{% url 'woodapp:managecart' cartproduct.id 'remove' %}" 
				class="manage-cart btn btn-danger pull-right">X</a></td>
		</tr>
		{% endfor %}
		<tr>
			<td colspan="3">Total</td>
			<td>{{total_qty}}</td>
			<td>{{cart.subtotal}}</td>
		</tr>
	</table>
	</div>
	</div>
{% if cart.cartproduct_set.count > 0 %}
<a href="{% url 'woodapp:order' %}">Place Order</a>
{% endif %}

{% endblock %}