{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}


{% block content %}

	<h2>{{categorydetail.title}}</h2>
	{% for product in categorydetail.products.all %}

	<!-- card section -->
	<div class="container my-4">
	<div class="card mb-3" style="max-width: 900px;">
  <div class="row no-gutters">
    <div class="col-md-8">
      <img src="{{ product.image.url }}" class="card-img" alt="..." height="500px">
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <a href="{% url 'woodapp:productdetail' product.id %}"><h5 class="card-title">{{product.title}}</h5></a>
        <p class="card-text">{{product.mrp}}</p>
        <p class="card-text"><a href="{% url 'woodapp:addtocart' product.id %}">ADD TO CART</a></p>
      </div>
    </div>
  </div>
</div>
</div>

<!-- card section ends -->

	<!-- <img src={{ product.image.url }}>
	<h6>{{product.mrp}}</h6>
	<a href="{% url 'woodapp:productdetail' product.id %}"><p>{{product.title}}</p></a> -->
	
	{% endfor %}

{% endblock %}