{% extends 'base.html' %}
{% load static %}


{% block css %}
 <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block title %}Order{% endblock %}


{% block content %}

	<form  class="box" method="POST">
		{% csrf_token %}
		<h1>Order</h1>
		<div >
			{{ form.street }}
			{{ form.street.errors }}
		</div>

		<div>
			{{ form.mobile }}
			{{ form.mobile.errors }}
		</div>

		<div>
		<button class="submit">Submit</button>
		</div>

		<h3>{{ error }}</h3>
	</form>


{% endblock %}