{% extends 'base.html' %}
{% load static %}

{% block title %}Search result{% endblock %}


{% block content %}

<h1>Search Results</h1>

{% if category %}
Product Category with searched query:
<ul>
  {% for product in category %}
    <li>
      <a href="{% url 'woodapp:categorydetail' product.id %}">{{ product.title }}</a>
    </li>
  {% empty %}
    No Such product category found
  {% endfor %}
</ul>
{% endif %}



{% if productlist %}
Products with searched query:
<ul>
  {% for product in productlist %}
    <li>
      <a href="{% url 'woodapp:productdetail' product.id %}">{{ product.title }}</a>
    </li>
  {% empty %}
    No Such product found
  {% endfor %}
</ul>
{% endif %}

{% if not category and not productlist %}
No such query found
{% endif %}

{% endblock %}