{% extends 'base.html' %}
{% load static %}

{% block css %}
 <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block title %}Sign Up{% endblock %}


{% block content %}

<form  class="box" method="POST">
		{% csrf_token %}
		<h1>Sign Up</h1>
		<div >
			{{ form.username }}
			{{ form.username.errors }}
		</div>

		<div>
			{{ form.password }}
			{{ form.password.errors }}
		</div>

		<div>
			{{ form.confirm_password }}
			{{ form.confirm_password.errors }}
		</div>

		<div>
		<button class="submit">Submit</button>
		</div>

		<h3>{{ error }}</h3>
</form>


{% endblock %}